body {
    background-color: rgb(106, 178, 209);
}

h1 {
    color:rgb(13, 13, 130);
    text-align: center;
}

div {
  margin-left: 20px; /* moves the whole div 20px to the right */
}

#name {
    margin: 10px; /* top/bottom 10px, left/right 0 */
}

#burger-size {
    margin: 10px;
}

#extras {
    margin: 5px 40px 20px 10px;
    padding: 10px 0 20px 30px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

input[type="submit"] {
    background-color: lightgray;
    margin-right: 50px;
    padding: 1rem;     /* spacing inside element */
    float: right;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* x-offset y-offset blur color */
}




